#App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: digital, 'Share Tech Mono';
  background-color: black;
  color:white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-container {
  border: 2px solid #47476b;
  padding: 5px;
  width: 400px;
  position: relative;
  display:grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: black;
  text-align: center;
  font-size: 30px;
}
.label {
  background-color: black;
  grid-column:span 3;
  padding:20px;
}
.icon {
  grid-column:span 1;
}.blank {
  grid-column:span 1;
}
.row {
  grid-column:span 7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  grid-column:span 1;
}